<!DOCTYPE html>
<html ng-app="neat">
<head>
	<title>NEAT Site</title>
	<% for(var i=0;i<cssFiles.length;i++){ %>
	<link href="<%= cssFiles[i] %>" rel="stylesheet" /><% } %>
	<% for(var i =0;i<jsFiles.length;i++) { %>
	<script src="<%= jsFiles[i] %>"></script><% } %>
</head>
<body>
</body>
</html>